.toolbar{
    border-bottom:solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addcourse{
    position:relative;
    top:5px;
    left: 10%;
}

.logout{
    align-self:center;
    position:relative;
    right:2%;
}

.courseCard{
    width:80%;
    background-color: lightgray;
}

p{
    color:black;
}