.container{
    margin:auto;
    border-radius: 25px;
    border: 2px solid black;
    size:50%;
    padding:20px;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}